/*****************************/
/* BELOW 1344px (Smaller desktops) */
/*****************************/
@media (max-width: 84em) {
	.section-activity .grid {
		display: flex;
		flex-direction: column;
		gap: 18rem;
		justify-content: center;
		align-items: center;
	}
}

/*****************************/
/* BELOW 1202px (Landscape Tablets desktops) */
/*****************************/

@media (max-width: 75em) {
	html {
		font-size: 56.25%;
	}
}

/*****************************/
/* BELOW 940px ( Mobile ) */
/*****************************/

@media (max-width: 59em) {
	html {
		font-size: 50%;
	}
	.section-hero {
		height: max-content;
	}
}
/*****************************/
/* BELOW 700px ( Phone ) */
/*****************************/

@media (max-width: 59em) {
	html {
		font-size: 42%;
	}
	.hero {
		display: flex;
		flex-direction: column;
	}
	.section-how {
		display: flex;
		flex-direction: column;
	}

	.cta {
		display: flex;
		flex-direction: column;
		max-width: max-content;
	}

	.cta-logo {
		position: relative;
	}

	footer .container {
		display: flex;
		flex-direction: column;
	}

	.contact {
		padding-bottom: 0;
	}

	.footer-right {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.footer-right img {
		display: none;
	}

	.footer-right button {
		margin-bottom: 3rem;
	}

	.copyright {
		display: grid;
	}
}
